<div class="main-about1">
  <div class="main-about-content1">
    <p class="main-about-text1">
      ようこそ、ながのCAKEへ！</br>
      このサイトは、ケーキ販売のECサイトになります。</br>
      会員でない方も商品の閲覧はできますが、</br>
      購入には会員登録が必要になります。
    </p>
  </div>
</div>
<div class="main-about2">
  <div class="main-about-content2">
    <p class="main-about-text2">
      豊富な品揃え！</br>
      ぜひ一度、商品を見て行ってください。</br>
    </p>
    <p class="main-about-name">
      <a href="/items" class="button">商品一覧ページへ！</a>
    </p>
  </div>
</div>