<div class="container py-5 text-secondary">
  <div class="row">
    <div class="col-lg-3">
      <h5 class="border-bottom">会員一覧</h5>
    </div>
  </div>
  <div class="row mt-5">
    <table class="table text-secondary table-hover">
      <thead>
        <tr class="table-color">
          <th>会員ID</th>
          <th>氏名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @customers.each do |customer| %>
          <tr>
            <td><%= customer.id %></td>
            <td><%= link_to customer.full_name, admin_customer_path(customer.id) %></td>
            <td><%= customer.email %></td>
            <td>
              <% if customer.is_deleted == false %>
                <div class="text-success font-weight-bold">有効</div>
              <% else %>
                <div class="text-muted font-weight-bold">退会</div>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="row justify-content-center">
    <%= paginate @customers %>
  </div>
</div>