<div class="row my-5">
  <div class="col-lg-10">
    <%= form_with model: [:admin, genre], local: false do |f| %>
    <div class="form-group d-flex">
     <%= f.label :name, "ジャンル名" %>
     <%= f.text_field :name, placeholder: "ジャンル名", class: "form-control col-lg-3 mx-2 text_field" %>
     <%= f.submit text, class: "btn btn-template" %>
    </div>
    <% end %>
  </div>
</div>