<div class="row my-5">
  <div class="col-lg-10">
    <%= form_with model: [:admin, @genre] do |f| %>
    <div class="form-group d-flex">
     <%= f.label :name, "ジャンル名" %>
     <%= f.text_field :name, placeholder: "ジャンル名", class: "form-control col-lg-3 mx-2" %>
     <%= f.submit text, class: "btn btn-outline-secondary" %>
    </div>
    <% end %>
  </div>
</div>