<div class="container py-5 text-secondary">
  <div class="row">
    <div class="col-lg-3">
      <h5 class="border-bottom">ジャンル一覧・追加</h5>
    </div>
  </div>
  <div id="genre_error"></div>
  <%= render "form", text: "新規登録", genre: @genre %>
  <div class="row">
    <div class="col-lg-6">
      <table class="table text-secondary table-hover">
        <thead class="table-secondary">
          <tr>
            <th class="ml-3">
              ジャンル
            </th>
            <th colspan="2"></th>
          </tr>
        </thead>
        <tbody id="genre_new">
          <%= render "index", genres: @genres %>
        </tbody>
      </table>
      <div class="row justify-content-center">
        <%= paginate @genres %>
      </div>
    </div>
  </div>
</div>
