.admin-add {
  &-item {
    display: inline-block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5);
    &:hover {
      position: relative;
      bottom: 1px;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.6);
    }
    &:active {
      position: relative;
      top: 3px;
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
      border-bottom: 1px solid #dcdcdc;
    }
    &-btn {
      width: 48px;
      height: 48px;
      font-size: 32px;
      color: #ffae8a;
      &:hover {
        color: #ffae8a;
      }
      &:active {
        color: #ffae8a;
      }
    }
  }
}