@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

body {
  padding-top: 5.5rem;
}

main {
  min-height: 100vh;
}

header, .footer-bottom {
  background-color: #ffae8a;
}

.footer-bottom {
  height: 60px;
}

.navbar li{
  margin: 0 10px;
}

ul, li {
  list-style: none;
}

.social-link {
  background-color: #ffae8a;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  & a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    font-size: 24px;
    color: #fff;
  }
}

.admin-add {
  &-item {
    display: inline-block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5);
    &:hover {
      position: relative;
      bottom: 1px;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.6);
    }
    &:active {
      position: relative;
      top: 3px;
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
      border-bottom: 1px solid #dcdcdc;
    }
    &-btn {
      width: 48px;
      height: 48px;
      font-size: 32px;
      color: #ffae8a;
      &:hover {
        color: #ffae8a;
      }
      &:active {
        color: #ffae8a;
      }
    }
  }
}

.main-top {
  position: relative;
  width: 100%;
  height: 300px;
}

.main-top-image {
  width: 100%;
  height: 90%;
  opacity: 0.3;
  object-fit: cover;
}

.main-top-text {
  position: absolute;
  transform: translate(-75%,-25%);
  top: 25%;
  left: 20%;
  text-align: center;
}

header, footer {
  border: 1px solid #d3d3d3;
  &.admin-sign-in {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

input#customer_address{
  width: 370px;
}

.admin-sign-in {
    text-decoration: none;
    cursor: text;
    &:hover {
      text-decoration: none;
      cursor: text;
    }
    &:active {
      text-decoration: none;
      cursor: text;
    }
  }

/* PCでは非表示にしておく */
.nav_toggle,
.nav {
  display: none;
}

/* スマホサイズで見た場合のスタイル */
@media screen and (max-width: 991px) {
  .navbar-nav{
    display: none;
  }
/* ハンバーガーのマーク */
  .nav_toggle {
    display: block;
    position: relative;
    width: 1.75rem;
    height: 1.5rem;
    margin-right: 10px;
    z-index: 2;
  }
  .nav_toggle i {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    transition: transform 0.5s, opacity 0.5s;
  }
  .nav_toggle i:nth-child(1) {
    top: 0;
  }
  .nav_toggle i:nth-child(2) {
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .nav_toggle i:nth-child(3) {
    bottom: 0;
  }

  /* クリックされた後のハンバーガーのマーク */
  .nav_toggle.show i:nth-child(1) {
    transform: translateY(10px) rotate(-45deg);
    background-color: #333;
  }
  .nav_toggle.show i:nth-child(2) {
    opacity: 0;
  }
  .nav_toggle.show i:nth-child(3) {
    transform: translateY(-12px) rotate(45deg);
    background-color: #333;
  }

  /* クリックで表示されるメニュー：クリックされる前 */
  .nav {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
    background-color: #fff;
    z-index: 1;
  }
  .nav_menu_li {
    margin-bottom: 30px;
  }
  .nav_menu_li a {
    margin: 30px;
    color: #ee6557;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
  }

  /* クリックで表示されるメニュー：クリックされた後 */
  .nav.show {
    opacity: 0.8;
    visibility: visible;
  }
}

.main-about1 {
  width: 100%;
  height: 500px;
  background-image: url(/assets/cake14.jpg);
  opacity: 0.5;
  background-size: cover;
  background-position: center;
}

.main-about-content1 {
  width: 40%;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  padding-top: 200px;
}


.main-about-text1 {
  color: #fff;
}

.main-about2 {
  width: 100%;
  height: 500px;
  background-image: url(/assets/cake16.jpg);
  opacity: 0.5;
  background-size: cover;
  background-position: center;
}

.main-about-content2 {
  width: 40%;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  padding-top: 200px;
}


.main-about-text2 {
  color: #fff;
}

.main-about-name {
  margin-top: 30px;
  color: #fff;
}

.button {
  display: inline-block;
  border-radius: 5%;
  font-size: 18pt;
  text-align: center;
  cursor: pointer;
  padding: 12px 12px;
  background: #ffae8a;
  color: #ffffff;
  line-height: 1em;
}
.button:hover {
  box-shadow: none;
  color: #000066;
  background: #ffffff;
}