@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import 'button';
@import 'favorite';

body {
  padding-top: 5.5rem;
  font-family: 'FOT-筑紫A丸ゴシック Std M', '游ゴシック Medium', 'Yu Gothic Medium', '游ゴシック体',
  YuGothic, 'Hiragino Sans', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, sans-serif;
}

a:hover {
  text-decoration: none;
}

main {
  min-height: 80vh;
  background: #FAFAF2;
}

header, footer {
  border: 1px solid #d3d3d3;
  &.admin-sign-in {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

header, .footer-bottom, .title {
  background-color: #ffae8a;
  &-text{
    color: #fff;
    border-radius: 4px;
  }
}

.title {
  margin-top: 32px;
}

.footer-bottom {
  height: 60px;
}

.navbar li{
  margin: 0 10px;
}

ul, li {
  list-style: none;
}

.error-messages {
  border: 2px solid red;
  background-color: #ffcccc;
  >ul {
    >li {
      list-style: square;
    }
  }
}

.sign-up-link {
  text-align: center;
  position: relative;
  top: 2px;
  padding-top: 1px;
  margin-bottom: 14px;
  line-height: 0;
  &::after {
    content: "";
    width: 100%;
    background-color: transparent;
    display: block;
    height: 1px;
    border-top: 1px solid #e7e7e7;
    position: absolute;
    top: 50%;
    margin-top: -1px;
    z-index: 1;
  }
  >span {
    line-height: 1;
    font-weight: 400;
    z-index: 2;
    position: relative;
    display: inline-block;
    background-color: #fff;
    padding: 0 8px 0 7px;
  }
}

.social-link {
  background-color: #ffae8a;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  & a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    font-size: 24px;
    color: #fff;
  }
}

.admin-add {
  &-item {
    display: inline-block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5);
    &:hover {
      position: relative;
      bottom: 1px;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.6);
    }
    &:active {
      position: relative;
      top: 3px;
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
      border-bottom: 1px solid #dcdcdc;
    }
    &-btn {
      width: 48px;
      height: 48px;
      font-size: 32px;
      color: #ffae8a;
      &:hover {
        color: #ffae8a;
      }
      &:active {
        color: #ffae8a;
      }
    }
  }
}

.main-top {
  position: relative;
  width: 100%;
  height: 300px;
}

.main-top-image {
  width: 100%;
  height: 90%;
  opacity: 0.3;
  object-fit: cover;
}

.main-top-text {
  position: absolute;
  transform: translate(-75%,-25%);
  top: 25%;
  left: 20%;
  text-align: center;
}

.admin-sign-in {
  text-decoration: none;
  cursor: text;
  &:hover {
    text-decoration: none;
    cursor: text;
  }
  &:active {
    text-decoration: none;
    cursor: text;
  }
}

.main-about {
  &1 {
    width: 100%;
    height: 500px;
    position: relative;
    z-index: 1;
    background-image: url(/assets/cake14.jpg);
    background-size: cover;
    background-position: center;
    &::after{
      content: "";
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: white;
      opacity: 0.5;
    }
  }
  &-content1 {
    width: 40%;
    height: 500px;
    position: relative;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    padding-top: 200px;
  }
  &-text1 {
    color: #fff;
  }
  &2 {
    width: 100%;
    height: 500px;
    position: relative;
    z-index: 1;
    background-image: url(/assets/cake16.jpg);
    background-size: cover;
    background-position: center;
    &::after {
      content: "";
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: white;
      opacity: 0.5;
    }
  }
  &-content2 {
    width: 40%;
    height: 500px;
    position: relative;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    padding-top: 200px;
  }
  &-text2 {
    color: #fff;
  }
  &-name {
    margin-top: 30px;
    color: #fff;
  }
}

.index-link {
  margin-top: 100px;
}


/*topページのカードのデザイン*/
.item-card {
  width: 200px;
  height: 300px;
  &-side {
    width: 300px;
    height: 100px;
  }
}

/*ページネーション自体のデザイン*/
.pagination>li>a {
  border: none;
  color: #ffae8a;
  background: transparent;
}

.page-item.active .page-link{
  background-color: #ffae8a;
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  background: #ffe2d5;
  border-radius: 15px;
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 15px;
  border-style: solid; border-color: #ffae8a63;
  outline: none;
  background-color: #fffffc;
  color: #ffae8a;
  outline: none;
}

.page-item.active .page-link{
  border-color: transparent;
}

#genre-table{
  thead, tbody {
    display: block;
    text-align: center;
  }
  tbody {
    background-color: #fff;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 650px;
  }
  th,td {
    border:none;
  }
  a{
    font-size: 15px;
  }
}

#favorite-scroll {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 300px;
  padding-right: 12px;
}


/* PCでは非表示にしておく */
.nav_toggle,
.nav {
  display: none;
}

.mypage{
  .mypage-title{
    border-bottom: solid 3px #ffae8a;
  }
  .title{
    display: flex;
    background: #FAFAF2;
    color: black;
    .edit-icon{
      margin: 0;
      padding: 0;
    }
    .fa-user-gear{
      color: #eb6100;
      width: 40px;
      height: 40px;
    }
    .fa-user-gear:hover{
      opacity: 0.5;
    }
  }
  .table-color{
    background: #ffe2d5b8;
  }
}

  .btn--orange,
  a.btn--orange {
    color: #fff;
    background-color: #eb6100;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
  }
  .btn--orange:hover,
  a.btn--orange:hover {
    color: #fff;
    background: #ffae8a;
    box-shadow: 0 0 3px rgba(0,0,0,0);
  }

  a.btn--radius {
     border-radius: 100vh;
  }

.order-index,.order-show{
  .order-title{
    border-bottom: solid 3px #ffae8a;
  }
  .table-color{
    background: #ffe2d5b8;
  }
}

/* スマホサイズで見た場合のスタイル */
@media screen and (max-width: 991px) {
  .navbar-nav{
    display: none;
  }
/* ハンバーガーのマーク */
  .nav_toggle {
    display: block;
    position: relative;
    width: 1.75rem;
    height: 1.5rem;
    margin-right: 10px;
    z-index: 2;
  }
  .nav_toggle i {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    transition: transform 0.5s, opacity 0.5s;
  }
  .nav_toggle i:nth-child(1) {
    top: 0;
  }
  .nav_toggle i:nth-child(2) {
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .nav_toggle i:nth-child(3) {
    bottom: 0;
  }

  /* クリックされた後のハンバーガーのマーク */
  .nav_toggle.show i:nth-child(1) {
    transform: translateY(10px) rotate(-45deg);
    background-color: #333;
  }
  .nav_toggle.show i:nth-child(2) {
    opacity: 0;
  }
  .nav_toggle.show i:nth-child(3) {
    transform: translateY(-12px) rotate(45deg);
    background-color: #333;
  }

  /* クリックで表示されるメニュー：クリックされる前 */
  .nav {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
    background-color: #fff;
    z-index: 1;
  }
  .nav_menu_li {
    margin-bottom: 30px;
  }
  .nav_menu_li a {
    margin: 30px;
    color: #ee6557;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
  }

  /* クリックで表示されるメニュー：クリックされた後 */
  .nav.show {
    opacity: 0.8;
    visibility: visible;
  }
}

.input{
  &-last-name {
    width: 320px;
    left: -42px;
    @media screen and (max-width: 991px) {
      width: 200px;
    }
    @media screen and (max-width: 768px) {
      width: 100px;
    }
    &-kana {
      width: 320px;
      left: -52px;
      @media screen and (max-width: 991px) {
        width: 200px;
      }
      @media screen and (max-width: 768px) {
        width: 100px;
      }
    }
  }
  &-first-name {
    width: 320px;
    right: -92px;
    @media screen and (max-width: 1200px) {
      right: -10px;
    }
    @media screen and (max-width: 991px) {
      width: 200px;
    }
    @media screen and (max-width: 768px) {
      width: 100px;
      right: -16px;
    }
    &-kana {
      width: 320px;
      right: -80px;
      @media screen and (max-width: 1200px) {
        right: 0px;
      }
      @media screen and (max-width: 991px) {
        width: 200px;
      }
      @media screen and (max-width: 768px) {
        width: 100px;
        right: -6px;
      }
    }
  }
  &-text-area {
    width: 320px;
    @media screen and (max-width: 768px) {
      width: 200px;
    }
  }
  &-address-area {
    width: 770px;
    @media screen and (max-width: 1200px) {
      width: 690px;
    }
    @media screen and (max-width: 991px) {
      width: 440px;
    }
    @media screen and (max-width: 991px) {
      width: 440px;
    }
    @media screen and (max-width: 768px) {
      width: 260px;
    }
  }
    &-button-area {
    width: 800px;
    @media screen and (max-width: 1200px) {
      width: 690px;
    }
    @media screen and (max-width: 991px) {
      width: 440px;
    }
    @media screen and (max-width: 768px) {
      width: 200px;
    }
  }
}

// ジャンル検索欄
#genre-table{
  tbody {
    display: block;
    text-align: center;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 615px;
    background: #FAFAF2;
  }
  th,td {
    border: none;
    text-align: center;
  }
  th{
    font-size: 20px;
  }
  td{
    padding: 5px;
    width: 150px;
    height: 50px;
  }
  a{
    font-size: 15px;
  }
  .button.tag {
      display: inline-block;
      text-decoration: none;
      padding: 0.5rem;
      background: #f7f7f7;
      border-top: solid 1px #ffae8a;
      border-right: solid 1px #ffae8a;
      border-bottom: solid 1px #ffae8a;
      border-left: solid 6px #ffae8a;
      color: #ffae8a;
      font-weight: bold;
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.22);
  }

  .button.tag:active {
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.11);
      transform: translateY(2px);
  }

  .button.tag:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  }
  .button.light-shadow {
      box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.14);
  }
  .button.light-shadow:active {
      box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.07);
      transform: translateY(1px);
  }
  a:hover{
    position: relative;
    top: -3px;
    transition: top 2s;
  }
  a:active {
    top: 0;
    transition: top 0.2s;
  }
}

// ジャンルボタン
#genre-btn{
  a{
    font-size: 15px;
  }
  .button.tag {
      display: inline-block;
      text-decoration: none;
      padding: 0.5rem;
      background: #f7f7f7;
      border-top: solid 1px #ffae8a;
      border-right: solid 1px #ffae8a;
      border-bottom: solid 1px #ffae8a;
      border-left: solid 6px #ffae8a;
      color: #ffae8a;
      font-weight: bold;
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.22);
  }

  .button.tag:active {
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.11);
      transform: translateY(2px);
  }

  .button.tag:hover {
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  }

  .button.light-shadow {
      box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.14);
  }
  .button.light-shadow:active {
      box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.07);
      transform: translateY(1px);
  }
  a:hover{
    position: relative;
    top: -3px;
    transition: top 2s;
  }
  a:active {
    top: 0;
    transition: top 0.2s;
  }
}

.item-image{
  height: 500px;
  width: 500px;
  }
  th,td {
    border:none;
  }
  a{
    font-size: 15px;
  }

.slider {
  margin:0 auto;
  img {
    max-width: 100%;
    height: 500px;
    width: 800px;
    border-radius: 4px;
    margin: 0 auto;
    filter: drop-shadow(8px 5px 4px rgba(0, 0, 0, 0.4));
  }
  >.slick {
    &-prev {
      left: 8%;
    }
    &-next{
      right: 8%;
    }
    &-prev, &-next {
    z-index: 100;
    }
  }
}
