.sign-up-link {
  text-align: center;
  position: relative;
  top: 2px;
  padding-top: 1px;
  margin-bottom: 14px;
  line-height: 0;
  &::after {
    content: "";
    width: 100%;
    background-color: transparent;
    display: block;
    height: 1px;
    border-top: 1px solid #e7e7e7;
    position: absolute;
    top: 50%;
    margin-top: -1px;
    z-index: 1;
  }
  >span {
    line-height: 1;
    font-weight: 400;
    z-index: 2;
    position: relative;
    display: inline-block;
    background-color: #fff;
    padding: 0 8px 0 7px;
  }
}

.input{
  &-last-name {
    width: 320px;
    left: -42px;
    @media screen and (max-width: 991px) {
      width: 200px;
    }
    @media screen and (max-width: 768px) {
      width: 100px;
    }
    &-kana {
      width: 320px;
      left: -52px;
      @media screen and (max-width: 991px) {
        width: 200px;
      }
      @media screen and (max-width: 768px) {
        width: 100px;
      }
    }
  }
  &-first-name {
    width: 320px;
    right: -92px;
    @media screen and (max-width: 1200px) {
      right: -10px;
    }
    @media screen and (max-width: 991px) {
      width: 200px;
    }
    @media screen and (max-width: 768px) {
      width: 100px;
      right: -16px;
    }
    &-kana {
      width: 320px;
      right: -80px;
      @media screen and (max-width: 1200px) {
        right: 0px;
      }
      @media screen and (max-width: 991px) {
        width: 200px;
      }
      @media screen and (max-width: 768px) {
        width: 100px;
        right: -6px;
      }
    }
  }
  &-text-area {
    width: 320px;
    @media screen and (max-width: 768px) {
      width: 200px;
    }
  }
  &-address-area {
    width: 770px;
    @media screen and (max-width: 1200px) {
      width: 690px;
    }
    @media screen and (max-width: 991px) {
      width: 440px;
    }
    @media screen and (max-width: 991px) {
      width: 440px;
    }
    @media screen and (max-width: 768px) {
      width: 260px;
    }
  }
    &-button-area {
    width: 800px;
    @media screen and (max-width: 1200px) {
      width: 690px;
    }
    @media screen and (max-width: 991px) {
      width: 440px;
    }
    @media screen and (max-width: 768px) {
      width: 200px;
    }
  }
}