<footer class="fixed-bottom bg-white text-center text-lg-start border-top border-secondary">
  <div class="container">
    <div class="row">
      <div class="mx-auto text-center mt-3">
        <ul class="d-flex align-items-center">
          <li class="social-link mr-3">
            <a href="#">
              <i class="fa-brands fa-instagram"></i>
            </a>
          </li>
          <li class="social-link">
            <a href="#">
              <i class="fa-brands fa-twitter"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="bg-secondary d-flex justify-content-end pt-3" style="height: 60px; opacity: 0.4;">
    <div class="col-lg-3 d-inline-block text-end p-0">
      <%= link_to "　", admin_session_path, class: "admin-sign-in" %>
    </div>
  </div>
</footer>